	</body>

<div class="navbar navbar-default">
    <div class="container">
      <p class="text-center text-uppercase font-italic text-monospace">
      	© <%= new Date().getFullYear();%> - Created by Nicholas R.
      </p>
    </div>
</div>

</html>