	<div class="navbar navbar-default fixed-bottom">
	    <div class="container">
	    	<p class="text-uppercase font-italic text-monospace text-white bg-dark font-weight-bold">
	    		&nbsp; © <%= new Date().getFullYear();%> - Created by Nicholas R. &nbsp;
	    	</p>
	    </div>
	</div>
	</body>
</html>