<% include ./partials/landingHeader %>
<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
<div class="bg">
	<div class="container">
		<h1 class="text-center text-white pt-1 display-1">
			Tr.io
			<hr>
			<p class="text-white h3 pb-5">Good things come in threes</p>
		</h1>
	</div>

	<div class="container text-center p-3">
		<a href="/login"><button type="button" class="btn btn-info btn-lg">Login</button>
		</a>
	</div>
	<div class="container text-center">
		<a href="/signup"><button  type="button" class="btn btn-info btn-lg">Signup</button>
		</a>
	</div>

	<% include ./partials/landingFooter %>

</div>