body, html {
  height: 100%;
  font-family: 'ZCOOL XiaoWei', serif;
}

.bg {
  /* The image used */
  background-image: url("/images/trees.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}